.body{
    background-color: #f1f5f8;
    font-family: "Zilla Slab", serif;
    font-size: 1rem;
}

h1{
    font-size: 3rem;
    color: #ff6a23 !important;
    text-align: center;
    font-family: "Great Vibes", cursive;
    padding: 10px 0;
}




